@{
    ViewBag.Title = "Cevaplarim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div itemscope="" itemtype="http://schema.org/Person" class="col-md-8 main-content">
    <div class="row user-statistic highlight">
        <div class="col-md-5 col-xs-12 user-info">
            <span class="avatar-80">
                <img itemprop="image" src="http://static.enginethemes.com/demo/qaengine/2016/01/128.jpg" class="avatar" alt="">
            </span>
            <ul>
                <li itemprop="name" class="name">
                    Gökhan Güven
                </li>
                <li class="location">
                    <i class="fa fa-map-marker"></i>
                    <span itemprop="homeLocation" itemscope="" itemtype="http://schema.org/PostalAddress">
                        <span itemprop="addressLocality">Fatih</span>
                    </span>
                </li>
                <li itemprop="email" class="email">
                    <i class="fa fa-envelope"></i>
                    guven.gokhan@gmail.com
                </li>
            </ul>
            <div itemprop="description" class="col-md-12 description">
            </div>
        </div>
        <div class="col-md-7 col-xs-12 user-post-count">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 statistics">
                    <div class="pull-top question-cat">
                        <br>
                        <span class="points-count">
                            100
                        </span>
                        <span class="star">
                            <i class="fa fa-star"></i><br>
                            Puan
                        </span>
                    </div>
                    <div class="pull-bottom">
                        <div class="col-md-6 col-sm-6 col-xs-6 num-question">
                            <p class="questions-count">
                                Soru<br>
                                <span>10</span>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <p class="answers-count">
                                Cevap<br>
                                <span>5</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- END USER-STATISTIC -->

    <div class="row question-filter">
        <div class="col-md-12 sort-questions">
            <ul>
                <li>
                    <a class="" href="~/Home/Hesabim">Sorularım</a>
                </li>
                <li>
                    <a class="" href="~/Question/MyAnswer">Cevaplarım</a>
                </li>
                <li>
                    <a class="" href="~/Question/Favorilerim">Favorilerim</a>
                </li>
                <li>
                    <a class="active" href="~/Question/MyNotifications">Bildirimlerim (1)</a>
                </li>
                <li>
                    <a class="" href="~/Question/Mesajlarim">Mesajlarım (1)</a>
                </li>
                <li>
                    <a class="" href="~/Home/CVim">CV im</a>
                </li>
                <li>
                    <a class="" href="~/Home/Ayarlar">Ayarlar</a>
                </li>
            </ul>
        </div>
    </div><!-- END QUESTIONS-FILTER -->

    <div class="main-questions-list">
        <ul id="main_questions_list">
            <li class="answer-item question-item post-2085 answer type-answer status-publish hentry" data-id="2085">
                <div class="col-md-8 q-left-content">
                    <div class="q-ltop-content title-answer-style">
                        <a href="http://www.enginethemes.com/demo/qaengine/blog/question/what-is-it-like-to-be-a-billionaire/" class="question-title">
                            MVC e Tapmak Suç Mu ?
                        </a>
                    </div>
                    <div class="q-lbtm-content">
                        <div class="question-cat">
                            <span class="author-avatar">
                                <img itemprop="image" src="http://static.enginethemes.com/demo/qaengine/2016/01/128.jpg" class="avatar" alt="">
                            </span>
                            <span class="question-time">
                                Tarih : 10/02/2016
                            </span>
                            <br />
                            <ul class="question-tags">
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/billionaire/ ">
                                        C#
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/business-2/ ">
                                        MVC
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/marketing-2/ ">
                                        Visual Studio
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quote-answer-style">
                        <div>
                            <span class="icon-quote"></span><p>Ya Bi Siktir Git Amk. Tapacak Birşey Mi Bulamadın ?</p>
                        </div>
                    </div>
                </div><!-- end left content -->
                <div class="col-md-4 q-right-content">
                    <ul class="question-statistic">
                        <li>
                            <span class="question-views">
                                15
                            </span>
                            İnceleme
                        </li>
                        <li class="">
                            <span class="question-answers">
                                2
                            </span>
                            Cevap
                        </li>
                        <li>
                            <span class="question-votes">
                                0
                            </span>
                            Onay
                        </li>
                    </ul>
                </div><!-- end right content -->
                <div class="clearfix"></div>
            </li>
            <li class="answer-item question-item post-2077 answer type-answer status-publish hentry" data-id="2077">
                <div class="col-md-8 q-left-content">
                    <div class="q-ltop-content title-answer-style">
                        <a href="http://www.enginethemes.com/demo/qaengine/blog/question/what-are-the-best-mobile-apps-for-traveling/" class="question-title">
                            Neden Yazılım Biraz Anlatır Mısın ?
                        </a>
                    </div>
                    <div class="q-lbtm-content">
                        <div class="question-cat">
                            <span class="author-avatar">
                                <img itemprop="image" src="http://static.enginethemes.com/demo/qaengine/2016/01/128.jpg" class="avatar" alt="">
                            </span>
                            <span class="question-time">
                                Tarih : 10/02/2016
                            </span>
                            <br />
                            <ul class="question-tags">
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/android/ ">
                                        C#
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/apple/ ">
                                        apple
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/apps/ ">
                                        apps
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quote-answer-style">
                        <div>
                            <span class="icon-quote"></span><p>Yazınca Anlarsın Canım.</p>
                        </div>
                    </div>
                </div><!-- end left content -->
                <div class="col-md-4 q-right-content">
                    <ul class="question-statistic">
                        <li>
                            <span class="question-views">
                                15
                            </span>
                            İnceleme
                        </li>
                        <li class="">
                            <span class="question-answers">
                                2
                            </span>
                            Cevap
                        </li>
                        <li>
                            <span class="question-votes">
                                0
                            </span>
                            Onay
                        </li>
                    </ul>
                </div><!-- end right content -->
                <div class="clearfix"></div>
            </li>
            <li class="answer-item question-item post-2067 answer type-answer status-publish hentry" data-id="2067">
                <div class="col-md-8 q-left-content">
                    <div class="q-ltop-content title-answer-style">
                        <a href="http://www.enginethemes.com/demo/qaengine/blog/question/what-are-the-best-mobile-apps-for-traveling/" class="question-title">
                            Yazılımcıya Sormuşlar Neden Başın Kel Diye, Peki Yazılımcı Ne Demiş ?
                        </a>
                    </div>
                    <div class="q-lbtm-content">
                        <div class="question-cat">
                            <span class="author-avatar">
                                <img itemprop="image" src="http://static.enginethemes.com/demo/qaengine/2016/01/128.jpg" class="avatar" alt="">
                            </span>
                            <span class="question-time">
                                Tarih : 10/01/2016
                            </span>
                            <br />
                            <ul class="question-tags">
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/android/ ">
                                        android
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/apple/ ">
                                        apple
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/apps/ ">
                                        apps
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/google/ ">
                                        google
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/technology-2/ ">
                                        technology
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quote-answer-style">
                        <div>
                            <span class="icon-quote"></span><p>Bi Bitmediniz Amk !</p>
                        </div>
                    </div>
                </div><!-- end left content -->
                <div class="col-md-4 q-right-content">
                    <ul class="question-statistic">
                        <li>
                            <span class="question-views">
                                15
                            </span>
                            İnceleme
                        </li>
                        <li class="">
                            <span class="question-answers">
                                2
                            </span>
                            Cevap
                        </li>
                        <li>
                            <span class="question-votes">
                                0
                            </span>
                            Onay
                        </li>
                    </ul>
                </div><!-- end right content -->
                <div class="clearfix"></div>
            </li>
            <li class="answer-item question-item post-2033 answer type-answer status-publish hentry" data-id="2033">
                <div class="col-md-8 q-left-content">
                    <div class="q-ltop-content title-answer-style">
                        <a href="http://www.enginethemes.com/demo/qaengine/blog/question/why-isnt-music-free/" class="question-title">
                            RE: Why isn’t music free?
                        </a>
                    </div>
                    <div class="q-lbtm-content">
                        <div class="question-cat">
                            <span class="author-avatar">
                                <img itemprop="image" src="http://static.enginethemes.com/demo/qaengine/2016/01/128.jpg" class="avatar" alt="">
                            </span>
                            <span class="question-time">
                                Asked on May 20, 2015 in
                            </span>
                            <span class="question-category">
                                <a href="http://www.enginethemes.com/demo/qaengine/blog/question-category/music/">Music.</a>
                            </span>
                            <ul class="question-tags">
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/apps/ ">
                                        apps
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/facebook/ ">
                                        facebook
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/google/ ">
                                        google
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/marketing-2/ ">
                                        marketing
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/social/ ">
                                        social
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quote-answer-style">
                        <div>
                            <span class="icon-quote"></span><p>demo</p>
                        </div>
                    </div>
                </div><!-- end left content -->
                <div class="col-md-4 q-right-content">
                    <ul class="question-statistic">
                        <li>
                            <span class="question-views">
                                15
                            </span>
                            İnceleme
                        </li>
                        <li class="">
                            <span class="question-answers">
                                2
                            </span>
                            Cevap
                        </li>
                        <li>
                            <span class="question-votes">
                                0
                            </span>
                            Onay
                        </li>
                    </ul>
                </div><!-- end right content -->
                <div class="clearfix"></div>
            </li>
            <li class="answer-item question-item post-1968 answer type-answer status-publish hentry" data-id="1968">
                <div class="col-md-8 q-left-content">
                    <div class="q-ltop-content title-answer-style">
                        <a href="http://www.enginethemes.com/demo/qaengine/blog/answer/re-mic-check-12/" class="question-title">
                            RE: mic check 1,2
                        </a>
                    </div>
                    <div class="q-lbtm-content">
                        <div class="question-cat">
                            <span class="author-avatar">
                                <img itemprop="image" src="http://static.enginethemes.com/demo/qaengine/2016/01/128.jpg" class="avatar" alt="">
                            </span>
                            <span class="question-time">
                                Asked on January 19, 2015 in
                            </span>
                            <span class="question-category">
                                <a href="#">No Category.</a>
                            </span>
                            <ul class="question-tags"></ul>
                        </div>
                    </div>
                    <div class="quote-answer-style">
                        <div>
                            <span class="icon-quote"></span><p>boom</p>
                        </div>
                    </div>
                </div><!-- end left content -->
                <div class="col-md-4 q-right-content">
                    <ul class="question-statistic">
                        <li>
                            <span class="question-views">
                                15
                            </span>
                            İnceleme
                        </li>
                        <li class="">
                            <span class="question-answers">
                                2
                            </span>
                            Cevap
                        </li>
                        <li>
                            <span class="question-votes">
                                0
                            </span>
                            Onay
                        </li>
                    </ul>
                </div><!-- end right content -->
                <div class="clearfix"></div>
            </li>
            <li class="answer-item question-item post-1966 answer type-answer status-publish hentry" data-id="1966">
                <div class="col-md-8 q-left-content">
                    <div class="q-ltop-content title-answer-style">
                        <a href="http://www.enginethemes.com/demo/qaengine/blog/question/what-is-it-like-to-be-a-billionaire/" class="question-title">
                            RE: What is it like to be a billionaire?
                        </a>
                    </div>
                    <div class="q-lbtm-content">
                        <div class="question-cat">
                            <span class="author-avatar">
                                <img itemprop="image" src="http://static.enginethemes.com/demo/qaengine/2016/01/128.jpg" class="avatar" alt="">
                            </span>
                            <span class="question-time">
                                Asked on January 19, 2015 in
                            </span>
                            <span class="question-category">
                                <a href="http://www.enginethemes.com/demo/qaengine/blog/question-category/business/">Business.</a>
                            </span>
                            <ul class="question-tags">
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/billionaire/ ">
                                        billionaire
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/business-2/ ">
                                        business
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/marketing-2/ ">
                                        marketing
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/paranoid/ ">
                                        paranoid
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/steal/ ">
                                        steal
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quote-answer-style">
                        <div>
                            <span class="icon-quote"></span><p>nostalgia</p>
                        </div>
                    </div>
                </div><!-- end left content -->
                <div class="col-md-4 q-right-content">
                    <ul class="question-statistic">
                        <li>
                            <span class="question-views">
                                15
                            </span>
                            İnceleme
                        </li>
                        <li class="">
                            <span class="question-answers">
                                2
                            </span>
                            Cevap
                        </li>
                        <li>
                            <span class="question-votes">
                                0
                            </span>
                            Onay
                        </li>
                    </ul>
                </div><!-- end right content -->
                <div class="clearfix"></div>
            </li>
            <li class="answer-item question-item post-1892 answer type-answer status-publish hentry" data-id="1892">
                <div class="col-md-8 q-left-content">
                    <div class="q-ltop-content title-answer-style">
                        <a href="http://www.enginethemes.com/demo/qaengine/blog/question/what-are-key-strategies-to-acquire-first-100k-users-with-zero-marketing-budget/" class="question-title">
                            RE: What are key strategies to acquire first 100K users with zero marketing budget?
                        </a>
                    </div>
                    <div class="q-lbtm-content">
                        <div class="question-cat">
                            <span class="author-avatar">
                                <img itemprop="image" src="http://static.enginethemes.com/demo/qaengine/2016/01/128.jpg" class="avatar" alt="">
                            </span>
                            <span class="question-time">
                                Asked on September 18, 2014 in
                            </span>
                            <span class="question-category">
                                <a href="http://www.enginethemes.com/demo/qaengine/blog/question-category/marketing/">Marketing.</a>
                            </span>
                            <ul class="question-tags">
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/billionaire/ ">
                                        billionaire
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/buget/ ">
                                        buget
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/business-2/ ">
                                        business
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/marketing-2/ ">
                                        marketing
                                    </a>
                                </li>
                                <li>
                                    <a class="q-tag" href="http://www.enginethemes.com/demo/qaengine/blog/qa-tag/users/ ">
                                        users
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quote-answer-style">
                        <div>
                            <span class="icon-quote"></span><p>test</p>
                        </div>
                    </div>
                </div><!-- end left content -->
                <div class="col-md-4 q-right-content">
                    <ul class="question-statistic">
                        <li>
                            <span class="question-views">
                                15
                            </span>
                            İnceleme
                        </li>
                        <li class="">
                            <span class="question-answers">
                                2
                            </span>
                            Cevap
                        </li>
                        <li>
                            <span class="question-votes">
                                0
                            </span>
                            Onay
                        </li>
                    </ul>
                </div><!-- end right content -->
                <div class="clearfix"></div>
            </li>
        </ul>
    </div><!-- END MAIN-QUESTIONS-LIST -->
    <div class="row paginations home">
        <div class="col-md-12">
        </div>
    </div><!-- END MAIN-PAGINATIONS -->
</div>